In [1]:
import pandas as pd
import numpy as np

In [7]:
datos = pd.read_csv('data/data.csv')
datos = datos.drop(['Genes'],axis=1)
datos.head()

,Chronico,Chronico.1,Chronico.2,Chronico.3,Chronico.4,Chronico.5,Chronico.6,Chronico.7,Chronico.8,Chronico.9,...,Negativo,Negativo.1,Negativo.2,Negativo.3,Negativo.4,Negativo.5,Negativo.6,Negativo.7,Negativo.8,Negativo.9
0,0.055418,0.000000,0.154400,0.048197,0.165299,0.071456,0.130036,0.081902,0.077231,0.138810,...,0.135872,0.149684,0.144913,0.417330,0.089909,0.084771,0.055104,0.065137,0.013630,0.057637
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,38.812276,39.870142,56.529496,41.650254,43.249029,41.829147,29.021456,26.156703,23.685553,30.249534,...,34.532135,35.093815,41.561580,55.958476,34.752389,37.158807,41.131510,41.238240,34.773264,34.432583
3,1.716131,1.850305,1.559855,0.841521,2.772267,1.478328,1.773506,1.942657,1.049503,1.216387,...,2.052617,2.090795,2.737061,3.368335,1.636465,1.526642,2.626139,2.671585,1.787139,2.012694
4,0.412763,0.260684,0.625847,0.347988,1.313399,0.293263,0.840046,0.855890,0.630986,0.506388,...,0.508948,1.114868,1.101359,0.535235,0.538117,0.644267,0.293156,0.581687,0.227903,0.306635

In [8]:
datos.describe(include ='all')

,Chronico,Chronico.1,Chronico.2,Chronico.3,Chronico.4,Chronico.5,Chronico.6,Chronico.7,Chronico.8,Chronico.9,...,Negativo,Negativo.1,Negativo.2,Negativo.3,Negativo.4,Negativo.5,Negativo.6,Negativo.7,Negativo.8,Negativo.9
count,58676.000000,58676.000000,58676.000000,58676.000000,58676.000000,58676.000000,58676.000000,58676.000000,58676.000000,58676.000000,...,58676.000000,58676.000000,58676.000000,58676.000000,58676.000000,58676.000000,58676.000000,58676.000000,58676.000000,58676.000000
mean,4.943730,5.178369,5.153544,6.109546,4.774276,5.012851,4.627177,4.847936,4.930075,4.975825,...,5.095959,4.842241,4.837868,5.392640,4.935080,5.240943,5.530678,5.415125,4.914462,5.130398
std,67.598365,69.456294,73.426229,109.651672,59.767648,71.294833,53.790469,57.151378,72.551883,67.702406,...,79.130856,63.476852,63.475017,82.221833,80.611253,93.058135,110.489875,94.820202,76.799181,79.791159
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.497667,0.455623,0.528536,0.342468,0.492125,0.488587,0.500170,0.477410,0.618879,0.629503,...,0.481016,0.454059,0.454482,0.348621,0.451001,0.342043,0.400032,0.399893,0.419799,0.370758
max,7159.736956,6581.073855,9838.227864,11777.233590,8232.280421,7830.280213,5755.123253,5980.379025,8084.713007,7256.759738,...,8881.315900,6780.783004,6742.570460,8371.528844,10013.895420,11861.122720,14649.032680,11017.127390,9178.494968,7937.928110

In [4]:
datos = datos.T
from   sklearn.feature_selection    import VarianceThreshold
umbral = 0.7
sel    = VarianceThreshold(threshold=(umbral * (1 - umbral)))
sel.fit_transform(datos)
datos  = datos[datos.columns[sel.get_support(indices=True)]]
datos = datos.T
datos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14552 entries, 2 to 58661
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Chronico     14552 non-null  float64
 1   Chronico.1   14552 non-null  float64
 2   Chronico.2   14552 non-null  float64
 3   Chronico.3   14552 non-null  float64
 4   Chronico.4   14552 non-null  float64
 5   Chronico.5   14552 non-null  float64
 6   Chronico.6   14552 non-null  float64
 7   Chronico.7   14552 non-null  float64
 8   Chronico.8   14552 non-null  float64
 9   Chronico.9   14552 non-null  float64
 10  Chronico.10  14552 non-null  float64
 11  Chronico.11  14552 non-null  float64
 12  Chronico.12  14552 non-null  float64
 13  Chronico.13  14552 non-null  float64
 14  Chronico.14  14552 non-null  float64
 15  Chronico.15  14552 non-null  float64
 16  Negativo     14552 non-null  float64
 17  Negativo.1   14552 non-null  float64
 18  Negativo.2   14552 non-null  float64
 19  Negativo.3   14552 non-null  float64
 20  Negativo.4   14552 non-null  float64
 21  Negativo.5   14552 non-null  float64
 22  Negativo.6   14552 non-null  float64
 23  Negativo.7   14552 non-null  float64
 24  Negativo.8   14552 non-null  float64
 25  Negativo.9   14552 non-null  float64
dtypes: float64(26)
memory usage: 3.0 MB

In [5]:
datos.describe()

,Chronico,Chronico.1,Chronico.2,Chronico.3,Chronico.4,Chronico.5,Chronico.6,Chronico.7,Chronico.8,Chronico.9,...,Negativo,Negativo.1,Negativo.2,Negativo.3,Negativo.4,Negativo.5,Negativo.6,Negativo.7,Negativo.8,Negativo.9
count,14552.000000,14552.000000,14552.000000,14552.000000,14552.000000,14552.000000,14552.000000,14552.000000,14552.000000,14552.000000,...,14552.000000,14552.000000,14552.000000,14552.000000,14552.000000,14552.000000,14552.000000,14552.000000,14552.000000,14552.000000
mean,19.735349,20.697940,20.561432,24.464358,19.043352,20.021729,18.448560,19.354919,19.621684,19.804287,...,20.351157,19.336777,19.320833,21.570024,19.718801,20.988794,22.122210,21.651847,19.650440,20.541277
std,134.666138,138.320056,146.370399,219.168816,118.883875,142.114933,106.832187,113.537785,144.700630,134.871154,...,157.923521,126.365064,126.363144,164.049872,160.972856,185.983005,221.045192,189.482863,153.279128,159.237780
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.396233,1.250109,1.432229,1.057245,1.498588,1.314648,1.422095,1.453020,1.553141,1.640735,...,1.390456,1.352287,1.333055,1.126543,1.296227,1.076847,1.271555,1.316735,1.206308,1.100264
50%,4.200510,3.728603,4.165381,3.949372,4.811841,3.846914,4.837123,4.751446,4.263883,4.456660,...,4.290400,4.332641,4.269496,4.478872,4.031278,3.641764,4.604299,4.534455,3.872918,3.586108
75%,11.453900,10.646881,11.457542,11.597529,12.941757,10.823204,13.099584,13.121685,11.342063,11.642290,...,11.492850,11.763428,11.745988,12.276528,11.499891,10.678733,12.189699,12.329840,11.193788,10.297432
max,7159.736956,6581.073855,9838.227864,11777.233590,8232.280421,7830.280213,5755.123253,5980.379025,8084.713007,7256.759738,...,8881.315900,6780.783004,6742.570460,8371.528844,10013.895420,11861.122720,14649.032680,11017.127390,9178.494968,7937.928110

In [9]:
datos.describe(include = 'all').to_excel("describeInicial.xlsx")

In [65]:
datos.to_excel("data.transform10.xlsx")